# --- Configuración para Spring Boot y H2 ---

# Ignorar la carpeta de datos de H2 (según tu application.properties)
/data/
*.mv.db
*.trace.db

# Ignorar archivos de compilación de Java (Maven/Gradle)
target/
build/
.gradle/
bin/

# Archivos de configuración de sistema/IDE de Java
.settings/
.classpath
.project
*.class